@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Exo+2:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Exo+2:ital,wght@1,600&display=swap');

body {
    color: white;
    background-color: black;
    font-family: 'Exo 2', sans-serif
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgba(143, 141, 141, 0.661);
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgba(143, 141, 141, 0.661);
}
.center{
    text-align: center;
    padding: 16px;
}

h1{
    color: rgba(242, 19, 19, 0.832);
}

p{
    text-align: justify;
    font-weight: bold;
}

footer img {

    width: 40px;
    height: 40px;
    border: none;
}

footer {

    display: flex;
    justify-content: center;
}

footer a {

    margin: 20px;
    text-align: center;
}

footer p {

    margin-top: 2px;
}

.container {
    
    padding: 0px 50px;
}

.container .top-container {

    height: 45px;
    background-color: darkgray;
    border-radius: 8px;
}

.container .top-container a{

    color: black;
    font-family: 'Lobster';
    font-size: 25px;
}

.container a:hover {

    color: rgba(237, 24, 24, 0.832);
}
